@import './base/settings';
@import './base/base';

.pints-50 {
    color: orange;
}

.pints-10 {
    color: red
}

.pints-100 {
    color: #d4f442
}

.pints {
    color: green;
}

.price-high {
    color: orange;
}

.price-low {
    color: green;
}

header {
    background: linear-gradient(to bottom, #996633 0%, #993333 100%);
    text-align: center;
    padding: 30px;
    color: white;
}

.jumbotron {
    text-align: center;
    margin: 0;
}

.nav-button {
    border: 1px solid black;
    padding: 20px 50px;
    margin: 20px 20px;
    transition: 1s;
    color: black;
    background: white;
    min-width: 200;
}

.nav-button:hover {
    transition: 1s;
    background: black;
    color: white;
}

.pints-footer {
    border: 1px solid black;
    width: 400px;
    text-align: center;
    margin: auto;
    background: lightblue;
}   